In [9]:
from config import api_key
import requests
import json
import pandas as pd
from pprint import pprint
import time
from splinter import browser
from bs4 import BeautifulSoup

In [12]:
url = "https://www.imdb.com/search/title/?year=2019&title_type=feature&"

# url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
#browser.visit(url)

In [15]:


count = 0

i = 1

movie_list = []

while count < 11470:
    
    if i == 1:
        url = "https://www.imdb.com/search/title/?year=2019&title_type=feature&"
        page= requests.get(url)
        soup= BeautifulSoup(page.text, "html.parser")
        raw_html = soup.find("tbody", {"class": "lister-list"}).findAll("tr")
    
        
        for html in raw_html:
            title = html.find("td", {"class": "titleColumn"}).find("a").get_text()
            year = html.find("td", {"class": "titleColumn"}).find("span").getText()[1:5]
            rating= html.find("td", {"class": "ratingColumn imdbRating"}).find("strong").get_text()
            rating= float(rating)

            raw_list= [title, year, rating]
            movie_list.append(raw_list)
            count += 1
   
        if count%50 == 0:
            i = i + 50
            url2 = f"https://www.imdb.com/search/title/?title_type=feature&year=2019-01-01,2019-12-31&start={i}&ref_=adv_nxt"

    else:
        
        
        page= requests.get(url2)
        soup= BeautifulSoup(page.text, "html.parser")
        raw_html = soup.find("tbody", {"class": "lister-list"}).findAll("tr")
    
        
        for html in raw_html:
            title = html.find("td", {"class": "titleColumn"}).find("a").get_text()
            year = html.find("td", {"class": "titleColumn"}).find("span").getText()[1:5]
            rating= html.find("td", {"class": "ratingColumn imdbRating"}).find("strong").get_text()
            rating= float(rating)

            raw_list= [title, year, rating]
            movie_list.append(raw_list)
            count += 1
        
        
        if count%50 == 0:
            i = i + 50
            url2 = f"https://www.imdb.com/search/title/?title_type=feature&year=2019-01-01,2019-12-31&start={i}&ref_=adv_nxt"

AttributeError: 'NoneType' object has no attribute 'findAll'

In [40]:
from bs4 import BeautifulSoup

In [41]:
url="https://www.imdb.com/search/title/?year=2019&title_type=feature&"

In [42]:
page= requests.get(url)

In [43]:
page

In [45]:
soup= BeautifulSoup(page.text, "html.parser")

In [46]:
raw_html = soup.find("tbody", {"class": "lister-list"}).findAll("tr")

In [48]:

movie_list = []
for html in raw_html:
    title = html.find("td", {"class": "titleColumn"}).find("a").get_text()
    year = html.find("td", {"class": "titleColumn"}).find("span").getText()[1:5]
    rating= html.find("td", {"class": "ratingColumn imdbRating"}).find("strong").get_text()
    rating= float(rating)
        
    raw_list= [title, year, rating]
    movie_list.append(raw_list)

In [49]:
import pandas as pd

In [50]:
thedf = pd.DataFrame(movie_list)

In [60]:
imdb_df = thedf.rename(columns={0:"movie_name", 1:"year", 2:"rating"})

In [61]:
movie_name = imdb_df['movie_name']

In [64]:
imdb_df.set_index('movie_name', inplace=True)

In [65]:
imdb_df

                                                    year  rating
movie_name
The Shawshank Redemption                            1994     9.2
The Godfather                                       1972     9.1
The Godfather: Part II                              1974     9.0
The Dark Knight                                     2008     9.0
12 Angry Men                                        1957     8.9
...                                                  ...     ...
La battaglia di Algeri                              1966     8.0
Swades: We, the People                              2004     8.0
Hera Pheri                                          2000     8.0
Kumonosu-jô                                         1957     8.0
Shin seiki Evangelion Gekijô-ban: Air/Magokoro ...  1997     8.0

[250 rows x 2 columns]

In [66]:
print(movie_name)

0                               The Shawshank Redemption
1                                          The Godfather
2                                 The Godfather: Part II
3                                        The Dark Knight
4                                           12 Angry Men
                             ...
245                               La battaglia di Algeri
246                               Swades: We, the People
247                                           Hera Pheri
248                                          Kumonosu-jô
249    Shin seiki Evangelion Gekijô-ban: Air/Magokoro...
Name: movie_name, Length: 250, dtype: object

In [ ]:
# NYT api

In [ ]:
url = 'https://api.nytimes.com/svc/movies/v2/reviews/search.json?'
response_list = []
alternate_list = []
movies_nyt = []
movies_wedidntget = []
for x in movie_name:
    try:
        base_url = url + "query=" + str(x) + "&api-key=" + api_key
        response = requests.get(base_url).json()
        response_list.append(response)
        if response['results'] != []:
            alternate_list.append(response['results'][int(0)])
            movies_nyt.append(x)
            time.sleep(6)
    except:
        movies_wedidntget.append(x)
        next
        time.sleep(6)

In [ ]:
alternate_list

In [ ]:
df = pd.read_json('alternate_list')
df

In [ ]:
# with open('alternate.json', 'w', encoding='UTF-8') as hey:
#     json.dump(alternate_list, hey, ensure_ascii=False, indent=4)

In [ ]:
thedf = pd.read_json('alternate.json')
thedf

In [27]:
from rotten_tomatoes_client import RottenTomatoesClient

meterclass = []
meterscore = []
movies_weget = []
movies_wedontget = []
for x in movie_names:
    try:
        result = RottenTomatoesClient.search(term=x, limit=1)
        if result['movies'][int(0)]['meterClass'] and result['movies'][int(0)]['meterScore']:
            meterclass.append(result['movies'][int(0)]['meterClass'])
            meterscore.append(result['movies'][int(0)]['meterScore'])
            movies_weget.append(x)
            print(x)
    except:
        movies_wedontget.append(x)
        next

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
12 Angry Men
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
Fight Club
Forrest Gump
Inception
Star Wars: Episode V - The Empire Strikes Back
The Lord of the Rings: The Two Towers
The Matrix
Goodfellas
One Flew Over the Cuckoo's Nest
Shichinin no samurai
Se7en
La vita ? bella
Cidade de Deus
The Silence of the Lambs
It's a Wonderful Life
Star Wars
Saving Private Ryan
Hamilton
The Green Mile
Gisaengchung
Interstellar
L?on
The Usual Suspects
The Lion King
Back to the Future
The Pianist
Terminator 2: Judgment Day
American History X
Modern Times
Gladiator
City Lights
The Departed
The Intouchables
Whiplash
The Prestige
Hotaru no haka
Once Upon a Time in the West
Casablanca
Nuovo Cinema Paradiso
Rear Window
Apocalypse Now
Memento
Raiders of the Lost Ark
The Great Dictator
Joker
The Lives of Others
Django Unchained
Paths of Glory
The Shining
Avengers: Infinity War
Sunset Blvd.
Mononoke-hime
Spider-Man: Into the Spider-Verse
Witness for the Prosecution
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Dark Knight Rises
Once Upon a Time in America
Avengers: Endgame
Kimi no na wa.
Coco
American Beauty
Braveheart
3 Idiots
Das Boot
Toy Story
Tengoku to jigoku
Amadeus
Taare Zameen Par
Star Wars: Episode VI - Return of the Jedi
Inglourious Basterds
Reservoir Dogs
Good Will Hunting
2001: A Space Odyssey
Requiem for a Dream
Vertigo
1917
Dangal
Eternal Sunshine of the Spotless Mind
Jagten
Citizen Kane
Full Metal Jacket
Ladri di biciclette
The Kid
A Clockwork Orange
North by Northwest
Snatch
Singin' in the Rain
Scarface
Taxi Driver
Am?lie
Lawrence of Arabia
Toy Story 3
Ikiru
The Sting
Metropolis
Jodaeiye Nader az Simin
Incendies
The Apartment
Double Indemnity
To Kill a Mockingbird
Idi i smotri
Indiana Jones and the Last Crusade
Up
L.A. Confidential
Heat
Monty Python and the Holy Grail
Die Hard
Y?jinb?
Batman Begins
Green Book
Der Untergang
Bacheha-Ye aseman
Unforgiven
Some Like It Hot
Hauru no ugoku shiro
The Great Escape
All About Eve
A Beautiful Mind
Casino
Pan's Labyrinth
The Wolf of Wall Street
El secreto de sus ojos
Lock, Stock and Two Smoking Barrels
Raging Bull
There Will Be Blood
Judgment at Nuremberg
The Treasure of the Sierra Madre
Three Billboards Outside Ebbing, Missouri
Dial M for Murder
The Gold Rush
Chinatown
V for Vendetta
No Country for Old Men
Shutter Island
Det sjunde inseglet
Inside Out
Warrior
The Elephant Man
Trainspotting
The Sixth Sense
The Thing
Jurassic Park
Gone with the Wind
Blade Runner
Finding Nemo
The Truman Show
Room
The Bridge on the River Kwai
Stalker
Fargo
The Third Man
On the Waterfront
Gran Torino
The Deer Hunter
Relatos salvajes
Andhadhun
Klaus
In the Name of the Father
Mary and Max
Gone Girl
The Big Lebowski
Hacksaw Ridge
The Grand Budapest Hotel
Before Sunrise
To Be or Not to Be
Catch Me If You Can
How to Train Your Dragon
Prisoners
Sherlock Jr.
Mr. Smith Goes to Washington
12 Years a Slave
Barry Lyndon
Mad Max: Fury Road
Stand by Me
Network
Cool Hand Luke
Million Dollar Baby
Into the Wild
Hachi: A Dog's Tale
Ben-Hur
Dead Poets Society
Platoon
Life of Brian
Harry Potter and the Deathly Hallows: Part 2
Logan
Rush
Du rififi chez les hommes
La passion de Jeanne d'Arc
Ah-ga-ssi
Andrei Rublev
Les quatre cents coups
Hotel Rwanda
Spotlight
Amores perros
Rang De Basanti
Kaze no tani no Naushika
Rocky
La haine
Gangs of Wasseypur
Monsters, Inc.
Rebecca
Portrait de la jeune fille en feu
The Circus
Before Sunset
It Happened One Night
Paris, Texas
Drishyam
The Help
The Princess Bride
The Terminator
La battaglia di Algeri

In [31]:
rot_df = pd.DataFrame({
    "movie_name":movies_weget,
    "meter_class" : meterclass,
    "meter_score" : meterscore
})

In [35]:
rot_df.set_index('movie_name', inplace=True)

KeyError: "None of ['movie_name'] are in the columns"

In [37]:
rot_df

                              meter_class  meter_score
movie_name
The Shawshank Redemption  certified_fresh           90
The Godfather             certified_fresh           98
The Godfather: Part II    certified_fresh           98
The Dark Knight           certified_fresh           87
12 Angry Men              certified_fresh          100
...                                   ...          ...
Drishyam                            fresh           80
The Help                  certified_fresh           76
The Princess Bride        certified_fresh           97
The Terminator                     rotten           33
La battaglia di Algeri    certified_fresh           99

[219 rows x 2 columns]